<div class="row">
    <div class="col-12 text-center p-2">
        <div class="btn-group">
            <button type="button" class="btn" (click)="changeComponent('Roles')" 
            [ngClass]="currentComponent == 'Roles' ?'btn-success':'btn-primary' ">Roles</button>
            <button type="button" class="btn" (click)="changeComponent('Designation')" 
            [ngClass]="currentComponent == 'Designation' ?'btn-success':'btn-primary' ">Designation</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="currentComponent=='Roles'">
        <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="currentComponent=='Designation'">
        <app-designation></app-designation>
    </div>
</div>